<div class="home-content">
  <mat-divider></mat-divider>
  <div class="free-trial-part">
    <div class="free-trial-header">
      <div class="empty-space"></div>
      <span>试听课程推荐</span>
      <a (click)="navToTrialListPage()">更多</a>
    </div>
    <mat-divider></mat-divider>
    <div class="free-trial-display">
      <app-trial-item *ngFor="let item of freeTrials" [item]="item" (click)="navToTrialDetailPage(item)"></app-trial-item>
    </div>
  </div>

  <mat-divider></mat-divider>
  <div class="elaborate-course-part">
    <div class="elaborate-course-header">
      <div class="empty-space"></div>
      <span>精品课程推荐</span>
      <a (click)="navToCourseListPage()">更多</a>
    </div>
    <mat-divider></mat-divider>
    <div class="elaborate-course-display">
      <app-course-item *ngFor="let item of elaborateCourses" [item]="item" (click)="navToCourseDetailPage(item)"></app-course-item>
    </div>
  </div>
</div>
