<div class="basic-info-page">
  <div class="image-container">
    <!-- Image -->
    <img *ngIf="enterprise" [src]="enterprise.imgUrl" />
  </div>
  <div class="main-part">
    <!-- Name -->
    <div class="name">
      <span>{{enterprise?.name}}</span>
    </div>
    <!-- Introduction -->
    <div class="section-title">
      <span class="section-title-content">企业简介</span>
    </div>
    <div class="paragraph">
      <span>{{enterprise?.introduction}}</span>
    </div>
    <!-- Video -->
    <div class="section-title">
      <span class="section-title-content">视频展示</span>
    </div>
    <video width="100%" src="{{enterprise?.videoUrl}}" controls="controls"></video>
    <!-- Detail -->
    <div class="section-title">
      <span class="section-title-content">精彩展示</span>
    </div>
    <div id="detail" class="detail">

    </div>
  </div>
</div>
