img {
  width: 50px;
  height: 50px;
}
mat-card {
  display: flex;
  flex-direction: row;
}
mat-card-header {
  width: 20%;
}
mat-card-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  display: block;
  width: 90%;
  word-wrap: break-word;
  word-break: normal;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  color: rgba(0, 0, 0, .5);
}
.like-num {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
mat-icon {
  display: inline-block;
  font-size: 15px;
  width: 15px;
  height: 15px;
}
.empty-space {
  width: 100%;
  height: 10px;
}
