.moment-item {
  width: 100%;
}
mat-grid-tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: blue;
}
.misaka {
  display: block;
  width: 100%;
  height: auto;
  top:50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  position: relative;
  border-radius: 4px;
}
.normal {
  width: auto;
  height: 100%;
}
