<div>
  <div class="header">
    <span (click)="close()">×</span>
  </div>
  <app-enterprise-moment-comment-item *ngFor="let comment of fullComment" [comment]="comment"></app-enterprise-moment-comment-item>
  <div class="comment-input">
    <form [formGroup]="commentGroup">
      <mat-form-field color="accent" style="width: 80%;">
        <input matInput formControlName="comment" placeholder="评论" [errorStateMatcher]="matcher">
      </mat-form-field>
      <button [disabled]="!commentGroup.valid" style="width: 10%;"  mat-raised-button color="primary" (click)="sendComment()" type="button">发送</button>
    </form>
  </div>
</div>
