.moment-page {
  height: 85%;
  overflow-y: hidden;
}
.empty-space {
  width: 100%;
  height: 5%;
}
.moment-list {
  height: 100%;
}
.mescroll {
  height: 100%
}
ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
