<div class="trial-item-info-page">

  <div class="image-container">
    <img *ngIf="item" [src]="item.imgUrl" />
  </div>
  <div class="main-part">
    <div class="name">
      <span>{{item?.name}}</span>
    </div>

    <!-- Basic info -->
    <!-- Branch + lecturer + category + release time -->
    <div class="section-title">
      <span class="section-title-content">基本信息</span>
    </div>
    <div class="card-info">
      <!-- Branch -->
      <mat-expansion-panel (opened)="getBranchDetailIfNotDone()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            授课分部
          </mat-panel-title>
          <mat-panel-description>
            {{item?.branchName}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>地址：{{branch?.address}}</p>
        <ngx-amap *ngIf="branch" class="map-window" [center]="[branch.longitude, branch.latitude]" [zoom]="13"></ngx-amap>
      </mat-expansion-panel>
      <!-- Lecturer -->
      <mat-card>
        <mat-card-title>
          讲师
        </mat-card-title>
        <mat-card-subtitle>
          {{item?.lecturerName}}
        </mat-card-subtitle>
      </mat-card>
      <!-- Category -->
      <mat-card>
        <mat-card-title>
          类型
        </mat-card-title>
        <mat-card-subtitle>
          {{item?.categoryName}}
        </mat-card-subtitle>
      </mat-card>
      <!-- Release time -->
      <mat-card>
        <mat-card-title>
          发布时间
        </mat-card-title>
        <mat-card-subtitle>
          {{item?.releaseTime | date: 'y 年 M 月 d 日'}}
        </mat-card-subtitle>
      </mat-card>
    </div>

    <!-- Introduction -->
    <div class="section-title">
      <span class="section-title-content">试听课程介绍</span>
    </div>
    <div class="paragraph">
      <span>{{item?.detail}}</span>
    </div>
  </div>

  <div class="operation-row">
    <button *ngIf="!isReserved" mat-raised-button color="primary" (click)="openBottomSheet()">立即预约</button>
    <button *ngIf="isReserved" mat-raised-button color="primary" (click)="openBottomSheet()">修改留言</button>
  </div>
</div>
