.login-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
mat-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
mat-icon {
  width: 70px;
  height: 70px;
}
.controller {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
