@import '../../../styles.scss';

$image-height: 200px;
$section-title-border-width: 12px;
$section-title-content-margin-left: 18px;
$name-horizontal-margin: $section-title-border-width + $section-title-content-margin-left;
$main-part-horizontal-margin: 16px;
$text-horizontal-margin: 26px;
$mat-card-background-color: map_get($mat-grey, 100);
$mat-card-font-size: 15px;
$operation-row-height: 56px;

.color-primary {
  color: $color-primary;
}
.course-item-info-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  /* Space reserved for the fixed operation row */
  margin-bottom: $operation-row-height;
}
.image-container {
  width: 100%;
  height: $image-height;
  position: relative;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: auto;
  top:50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  position: relative;
  border-radius: 4px;
}
.main-part {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: $main-part-horizontal-margin 0;
}
.section-title {
  width: 100%;
  border-left: solid $section-title-border-width $color-primary;
  font-size: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  line-height: 22px;
  margin: 36px 0 16px 0;
  clear: both;
  overflow: hidden;
  position: relative;
  background: url("https://bkssl.bdimg.com/static/wiki-lemma/widget/lemma_content/mainContent/customTitle/img/title-line_c5e6d61.png") repeat-x;
}
.section-title-content {
  line-height: 1;
  padding: 0 8px 0 $section-title-content-margin-left;
  background: white;
}
.divider-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 16px 0;
}
.divider-container mat-divider {
  width: 100%;
}
.name {
  font-size: 26px;
  font-weight: 400;
  margin: 0 $name-horizontal-margin -12px $name-horizontal-margin;
}
.card-info {
  width: 100%;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.map-window {
  width: 100%;
  height: 200px;
}
.mat-expansion-panel {
  width: 100%;
  background-color: $mat-card-background-color;
  border-radius: 0;
}
.mat-card {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  padding: 0 24px;
  background-color: $mat-card-background-color;
  border-radius: 0;
}
.mat-card-title {
  font-size: $mat-card-font-size;
  margin: 0 16px 0 0;
  width: 32.3%
}
.mat-card-subtitle {
  font-size: $mat-card-font-size;
}
.mat-card-subtitle:not(:first-child), .mat-card-title:not(:first-child) {
  margin: 0;
}
.paragraph {
  text-indent: 2em;
  margin: 0 $text-horizontal-margin;
}
.detail {
  margin: 0 $text-horizontal-margin;
}
.operation-row {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: $operation-row-height;
  background: rgba(white, .92);
  border-top: 1px solid rgb(236, 236, 236);
  /* In case it's overlapped by the AMap logo */
  z-index: 999;
  button {
    height: 100%;
    min-width: 100px;
    border-radius: 0;
  }
  span {
    flex-grow: 1;
    padding: 0 0 0 $text-horizontal-margin;
    color: $color-primary;
  }
}
.disabled {
  pointer-events: none;
}
