<div class="container">
  <div class="content">
    <img [src]="freeTrial.url" [alt]="freeTrial.title">
    <div class="empty-space"></div>
    <div class="description">
      <span class="title">{{freeTrial.title}}</span>
      <div class="details">
        <span class="time">{{item.time}}</span>
        <div class="empty-space"></div>
        <span *ngIf="item.status == 0">待处理</span>
        <span *ngIf="item.status == 1">已取消</span>
        <span *ngIf="item.status == 2">已处理</span>
        <span *ngIf="item.status == 3">已使用</span>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
