$opacity: 0.87 * 0.6;
.elaborate-course-content {
  height: 100%;
}
.search-button {
  border-radius: 0;
  width: 100%;
  flex-grow: 1;
  color: rgba(0, 0, 0, $opacity);
  height: 48px;
}
.elaborate-course-list {
  height: 90%;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
