<mat-toolbar color="primary">
  <mat-icon [routerLink]="['/home']">home</mat-icon>
  <div class="title"><span>Zooc</span></div>
  <span *ngIf="user == null" class="header-font">
    <a [routerLink]="['/login']">登录</a>
    <span>/</span>
    <a [routerLink]="['/register']">注册</a>
  </span>
  <app-zzzz-avatar *ngIf="user"
                   [avatarUrl]="user ? user.avatarUrl : null"
                   [size]="28" [shape]="'circle'" [placeholder]="'anonymous'"
                   [routerLink]="['/user']"></app-zzzz-avatar>
</mat-toolbar>

