.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  color: rgba(0, 0, 0, .8);
  font-size: 12px;
}
.name {
  font-weight: bold;
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  color: rgb(0, 0, 0);
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.empty-space {
  width: 8%;
}
.time {
  color: rgba(0, 0, 0, .8);
  font-size: 10px;
}
.comment-content {
  width: 92%;
  word-wrap: break-word;
}
