<div class="home-content">
  <mat-divider></mat-divider>
  <div class="free-trial-part">
    <div class="free-trial-header">
      <div class="empty-space"></div>
      <span>试听课程</span>
    </div>
    <div class="free-trial-display">
      <app-trial-item *ngFor="let item of freeTrials" [item]="item"></app-trial-item>
    </div>
  </div>

  <div class="elaborate-course-part">
    <div class="elaborate-course-header">
      <div class="empty-space"></div>
      <span>精品课程</span>
    </div>
    <div class="elaborate-course-display">
      <app-course-item *ngFor="let item of elaborateCourses" [item]="item"></app-course-item>
    </div>
  </div>
</div>

