<div class="container">
  <div class="content">
    <img [src]="elaborateCourse.imgUrl" [alt]="elaborateCourse.name">
    <div class="empty-space"></div>
    <div class="description">
      <span class="title">{{elaborateCourse.name}}</span>
      <div class="details">
        <span class="time" *ngIf="item?.status == orderEnum[orderEnum.PENDING]">{{item.time}}</span>
        <div class="empty-space"></div>
        <span *ngIf="item.status == 0">待付款</span>
        <span *ngIf="item.status == 1">已取消</span>
        <span *ngIf="item.status == 2">已付款</span>
        <span *ngIf="item.status == 3">已申请退款</span>
        <span *ngIf="item.status == 4">已退款</span>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
