img {
  width: 50px;
  height: 50px;
}
mat-card {
  display: flex;
  flex-direction: row;
}
mat-card-header {
  width: 20%;
}
mat-card-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.name {
  font-size: 16px;
}
.introduction {
  display: block;
  width: 90%;
  word-wrap: break-word;
  word-break: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, .75);
}
