<div class="reserve-page">
  <mat-toolbar color="primary">
    <span>我的预约</span>
  </mat-toolbar>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="全部预约">
      <app-reserve-list *ngFor="let reserve of reserves" [item]="reserve"></app-reserve-list>
    </mat-tab>
    <mat-tab label="待处理">
      <app-reserve-list *ngFor="let reserve of pendingReservation" [item]="reserve"></app-reserve-list>
    </mat-tab>
    <mat-tab label="已处理">
      <app-reserve-list *ngFor="let reserve of availableReservation" [item]="reserve"></app-reserve-list>
    </mat-tab>
    <mat-tab label="已使用/已取消">
      <app-reserve-list *ngFor="let reserve of processedReservation" [item]="reserve"></app-reserve-list>
    </mat-tab>
  </mat-tab-group>
</div>
